[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenRGB
Comment=Control RGB lighting
Exec=OpenRGB
Icon=OpenRGB
Terminal=false
Categories=Utility;
